@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'highlight.js/styles/github-dark.css';

.full-page-mask {
  width: 100%;
  height: 100%;
  mask-image: radial-gradient(circle at center, white, transparent);
  mask-size: cover;
}


/* Customize scrollbar */
*::-webkit-scrollbar {
  width: 1px;
  height: 1px;
  border-radius: 4px;
}

*::-webkit-scrollbar-track {
  background: #09090a;
}

*::-webkit-scrollbar-thumb {
  background: #5c5c7b;
  border-radius: 90px;
  width: 2px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #7878a3;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #963aff #ffffff00;
}


/* Apply white text color to Tiptap editor content */
.prose-white {
  color: #858585; /* White color */
}

.prose-white p,
.prose-white h1,
.prose-white h2,
.prose-white h3,
.prose-white h4,
.prose-white h5,
.prose-white h6,
.prose-white strong,
.prose-white em,
.prose-white a {
  color: #858585;
}

/* Editor container styles */
.editor-container {
  background-color: transparent; /* Dark background for the editor */
  color: #858585; /* Light text color */
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #282828; /* Contrast border */
}

/* Editor content styles */
.editor-content {
  min-height: 150px;
  padding: 10px;
  font-size: 1rem; /* Base font size */
  line-height: 1.5;
  color: #858585; /* Light text color for content */
}

.editor-content h1, .editor-content h2, .editor-content h3 {
  color: #858585; /* White for headings */
}

/* Code block styles */
.pre {
  background: #0d0d0d;
  color: #fff;
  font-family: 'JetBrainsMono', monospace;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  font-size: 1rem; /* Adjust the font size for preformatted text */
}

/* Inline code styles */
.pre code {
  background: none;
  color: inherit;
  padding: 0;
  font-size: 0.9rem; /* Adjust the font size for code inside pre */
}

code {
  background-color: #000000;
  color: #f8f8f2;
  padding: 2px 4px;
  border-radius: 3px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.9rem; /* Adjust the font size for inline code */
}

/* Button styles */
.button {
  background-color: #020202;
  color: #d4d4d4;
  border: 1px solid #5a5a5a;
  border-radius: 3px;
  padding: 5px 10px;
  margin: 5px;
}

.button:hover {
  background-color: #555555;
  color: #ffffff;
}

.button.is-active {
  background-color: #6c2cff;
  color: #ffffff;
}

/* Tailwind base layer customizations */
@layer base {
  :root {
    --background: 0, 0%, 98%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 262.1 83.3% 57.8%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 262.1 83.3% 57.8%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0, 0%, 7%;
    --foreground: 210 20% 98%;
    --card: 0, 0%, 10%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 263.4 70% 50.4%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 263.4 70% 50.4%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
